.li {
  margin-right: 8px;
  width: calc((100% - 8px) / 4);
}
.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  width: max-content;
}
